<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="theme.css">
  <title>Vue</title>
</head>
<body>
  <div class="container" id="app">
    <div class="card">
      <h1 :style="{color: inputValue.length > 5 ? 'orange' : 'purple', fontSize: inputValue.length > 6 ? '1rem' : '2rem'}">{{title}}</h1>
      <div class="form-control">
        <input type="text" v-bind:placeholder="placeHolderString" :value="inputValue" v-on:input="inputHandler" @keydown.enter="addHandler"/>
      </div>
      <button class="btn" v-on:click="addHandler">Add</button>
      <hr>
      <ul class="list">
        <li class="list-item" v-for="(note, i) in notes">
          {{i + 1}}. {{toUpperCase(note)}}
          <button class="btn danger" v-on:click="deleteHandler(i)">Delete</button>
        </li>
        <hr>
        <li>
          Total count of notes: <strong>{{notes.length}}</strong> | Doubled count of notes: <strong>{{doubled}}</strong>
        </li>
      </ul>
      <div v-if="notes.length === 0">Notes doesn't exist. Add first note</div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
</body>
</html>